<!DOCTYPE html>
<html>

<head>
  <title>Bus Reservation System</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="landing-header">
    <h1>Bus Reservation System</h1>

    <form action="/bus" method="post">
        <input type="text" placeholder="Source" name="source">
        <input type="text" placeholder="Destination" name="destination">
      <br>
      <button>Click to book your ticket!</button>
    </form>

  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <%- include("partials/footer"); -%>