<!DOCTYPE html>
<html>

<head>
  <title>Bus Reservation System</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="landing-header">
    <h1 class="mb-4">Bus Reservation System</h1>

    <form action="/bus" method="post">
      <input type="text" placeholder="Source" class="mr-3" name="source" required>
      <input type="text" placeholder="Destination" name="destination" required>
      <br>
      <button class="btn btn-lg btn-success mt-4">Click to book your ticket!</button>
    </form>

  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <%- include("partials/footer"); -%>