<%- include("./partials/header"); -%>
    
    <form action="#" method="POST">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Source" class="mr-3" name="source" required>
        <input type="text">
    </form>

<%- include("./partials/footer"); -%>