.jumbotron {
    color: #2c3e50;
  /* background-image: url("../images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
  text-align: center;
  font-size:4rem;
}

.logo{
  color: black;
}

.bg-custom{
  background-color: black;
}

input[type=text], input[type=number] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form{
  text-align: center;
}

.form-div{
  width: 40%;
  margin: auto;
  padding: 2em;
  margin-top: 10vh;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  }